html {
    height: 100%;
}

#header-binary {
    height: 55px;
    background: #2a3052;
    border-bottom: 4px solid #e98024;
    text-align: center;
    padding: 10px 0;
}

#header-binary a {
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    min-width: 220px;
}

#header-binary #symbol-logo {
    vertical-align: middle;
    height: 55px;
}

#header-binary #type-logo {
    vertical-align: middle;
    height: 37px;
    margin-left: 6px;
}

#container {
    padding: 5vh;
}

#content {
    margin: 0 auto;
    max-width: 50vw;
    padding: 40px;
    box-shadow: 0 0 8px #c2c2c2;
}

form input {
    padding: 8px;
}

#pass_form input {
    width: 60%;
}

#send_form {
    display: none;
}

#wif {
    color: #44484c;
}

.left-text {
    text-align: left;
}

#balance {
    display: inline-block;
}

#close {
    float: right;
}

#send_form button {
    width: 15%;
}

#amount {
    width: 30%;
}

#to {
    width: 45%;
}

#transactions {
    margin-left: 15px;
}
